<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
            <app-sidebar></app-sidebar>
            <h3>User Info</h3>
             <!-- <app-data-table></app-data-table>  -->
             
            <!-- <app-menu-bar></app-menu-bar>  -->
<button routerLink="/users" class="btn btn-primary">Back</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>User Id</th>
                <th>User Name</th> -->
                <th>Course Code</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let i of val[0]" [attr.id]="i.userId">
                <!-- <td>{{ i.userId }}</td>
                <td>{{ i.userName}}</td> -->
                <td>{{ i.courseCode}}</td>
                <td>{{ i.courseName}}</td>
                </tr>
            
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
</div>
</div>
</div>

