<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/userdashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <!-- <li><a routerLink='/features' routerLineActive='active'>Features</a></li>
        <li><a href="/company">Company</a></li>
        <li><a routerLink='/showAllCourses' routerLineActive='active'>All Courses</a></li> -->
        <li><a routerLink='/userdashboard' routerLineActive='active'>My Courses</a></li>
      </ul>
</div>
<br><br>