<p>The learning organisation may be defined as one in which everyone is engaged in identifying and solving problems, enabling the organisation to continuously experi­ment, change and improve—thus increasing its capacity to grow, learn and achieve its purpose
<strong>
<br>1. Meaning and Characteristics of Learning Organisation 
<br>2. Building Blocks of a Learning Organisation
<br>3. Traditional vs. Learning Organisations 
<br>4. How to Create Learning Organisations
<br> 5. Fortune at the Bottom of the Pyramid
</strong>
</p>
