<div class="panel panel-default">
    <div class="panel-body">
        <div class="container" id="ch">
            <div>
                <h2>Add New Course</h2>
            </div>
        </div>
        <div class="container">
            <form action="" id="ch">
                <div class="form-group">
                    <label for="code">New Course Code:</label>
                    <input type="text" class="form-control" id="code" placeholder="Enter course code" name="code"
                        required>

                </div>
                <div class="form-group">
                    <label for="username">New Course Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter course name" name="name"
                        required>

                </div>

                <div class="form-group">
                    <label for="formFileLg" class="form-label">Upload Document</label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file" />
                </div>
                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </div>
</div>