<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
            <app-sidebar></app-sidebar>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container" id="ch">
            <div>
                <h2>Add New Course</h2>
            </div>
        </div>
        <div class="container">
            
            <form action="" #courseForm="ngForm" (ngSubmit)="!courseForm.invalid && addNewCourse()">
                <div class="form-group">
                    <label for="courseId">Course ID:</label>
                    <input type="text" class="form-control" id="courseId" placeholder="Enter course id" name="courseId"
                        required="required" [(ngModel)]="course.courseId" #courseId="ngModel">
                    
                </div>
                
                <div class="form-group">
                    <label for="code">New Course Code:</label>
                    <input type="text" class="form-control" id="code" placeholder="Enter course code" name="code"
                        required="required" [(ngModel)]="course.courseCode" #code="ngModel">
                    <div [hidden]="code.valid || code.pristine" class="alert alert-danger">Subject code is required</div>

                </div>
                <div class="form-group">
                    <label for="username">New Course Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter course name" name="name"
                        required="required" [(ngModel)]="course.courseName" #name="ngModel">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Course name is required</div>
                </div>

                <div class="form-group">
                    <label for="formFile" class="form-label">Upload Document</label>
                    <input class="form-control form-control-lg" id="formFile" type="file"  name="formFile" required ng2FileSelect
                        [uploader]="course.document" ngModel  />
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!courseForm.form.valid">Add Course</button>&nbsp;&nbsp;
                <button routerLink="/dashboard" class="btn btn-primary">Back</button>
            </form>

        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>
</div>
</div>