<div class="panel panel-default">
    <div class="panel-body">
<h3> Login</h3>
<div class="container">
<form action="" >
     <div class="form-group">
        <input type="radio" name="r1" value="admin" [(ngModel)]="value" (change) = "onItemChange($event.target.value)">Admin &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="r1" value="user" [(ngModel)]="value" (change) = "onItemChange($event.target.value)">User 
    </div> 
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="userName"
         [(ngModel)]="userName">
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control"  placeholder="Enter password here" name = "pass" [(ngModel)]="pass"/>
    </div>
    
    <div class="form-group">
    <button class="btn btn-primary"  (click) = "LoginUser()">
    Login
    </button>
    <a routerLink='/registration'>Register</a>
    </div>
</form>
</div>
</div>
</div>