<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
            <app-usersidebar></app-usersidebar>
            <button routerLink="/userdashboard" class="btn btn-primary">Back</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Parent</th>
                <th>Creation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td><button type="button" class="btn-btn-primary"><i class="far fa-eye">Hide</i></button>
                    <button type="button" class="btn-btn-success"><i class="far fa-edit">Edit</i></button>
                    <button type="button" class="btn-btn-danger"><i class="far fa-trash-alt">Delete</i></button></td>
            </tr>
            <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td><button type="button" class="btn-btn-primary"><i class="far fa-eye">Hide</i></button>
                    <button type="button" class="btn-btn-success"><i class="far fa-edit">Edit</i></button>
                    <button type="button" class="btn-btn-danger"><i class="far fa-trash-alt">Delete</i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
</div>
</div>
</div>
