<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a routerLink='/showAllCourses' routerLineActive='active'>Users</a></li>
        <li><a routerLink='/features' routerLineActive='active'>Features</a></li>
        <li><a routerLink='/company' routerLineActive='active'>Company</a></li>
        <li><a routerLink='/showAllCourses' routerLineActive='active'>Courses</a></li>
        <li><a routerLink='/login' routerLineActive='active'>Login</a></li>
        <li><a routerLink='/registration' routerLineActive='active'>registration</a></li>
        <li><a href="">Credit Logs</a></li>
    </ul>
</div>
<br><br>