<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a routerLink='/users' routerLineActive='active'>Users</a></li>
        <li><a routerLink='/features' routerLineActive='active'>Features</a></li>
        <li><a href="/company">Company</a></li>
        <li><a routerLink='/showAllCourses' routerLineActive='active'>Courses</a></li>
        <li><a href="/credit">Credit Logs</a></li>
    </ul>
</div>
<br><br>