<br>
<div class="container" class="row">
    <div class="col-sm-8">
        <h2 class="sub-header">Manages Courses</h2>
    </div>
    <div class="col-sm-4">
        <br>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <div class="btn-group btn-group-sm" role="group">
                <a routerLink='/assign/course/to/user' routerLinkActive='active'>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"
                            aria-hidden="true"></span>List User Courses</button>
                </a>
            </div>
            <div class="btn-group btn-group-sm btn-group" role="group">
                <a routerLink='/addCourses' routerLinkActive='active'>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"
                            aria-hidden="true"></span>Create New</button>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>